.container {
    display : flex;
    background-color: black;
}

.registerContainer {
	display: flex;
	margin-bottom: 10px;
	border-top: 0.5px lightgray solid;
}

.registerSection {
	width: 250px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.rightContainer {
    flex-direction :column ;
    width: 50vw;
    height: 100%;
    background-color: black;
}

.title {
    line-height: 1.15;
    font-size: 4rem;
}

.title1 {
	margin-top: 0%;
	padding-left: 20px;
	color : white;
}

.title3 {
	margin-top: 20%;
    padding-left: 20px;	
    color : white;
}